In [2]:
!pip install dnspython
!-m pip install pymongo[srv]

Collecting dnspython
  Downloading dnspython-2.2.1-py3-none-any.whl (269 kB)
     |████████████████████████████████| 269 kB 3.3 MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.2.1
/bin/bash: - : invalid option
Usage:	/bin/bash [GNU long option] [option] ...
	/bin/bash [GNU long option] [option] script-file ...
GNU long options:
	--debug
	--debugger
	--dump-po-strings
	--dump-strings
	--help
	--init-file
	--login
	--noediting
	--noprofile
	--norc
	--posix
	--rcfile
	--restricted
	--verbose
	--version
Shell options:
	-ilrsD or -c command or -O shopt_option		(invocation only)
	-abefhkmnptuvxBCHP or -o option

In [49]:
import json
import pymongo
from pymongo import MongoClient

In [50]:
client = pymongo.MongoClient("mongodb+srv://Akhilesh:1234@cluster0.s31ku.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.test

In [51]:
db=client.get_database("Telephone_Directory")
records=db.Directory
records.count_documents({})

14

In [6]:
Phone_directory={"_id":[i for i in input().split()],"Name":[i for i in input().split()],"Phonenumber":[int(i) for i in input().split()],"Place":[i for i in input().split()]}
Phone_directory

1 2 3 4 5 6 7 8 9 10
Akhilesh Roshan Surya Rekha Anjali Koushik Sukumar Vijayan Roopa Arun
9846878321 8945673254 9847563243 9863564732 9846786541 9846897890 9863425634 9847675678 9845326745 9867546321
Kerala Goa Karnataka Telangana Delhi Gujarat UP Maharashtra Tamilnadu Punjab

{'Name': ['Akhilesh',
  'Roshan',
  'Surya',
  'Rekha',
  'Anjali',
  'Koushik',
  'Sukumar',
  'Vijayan',
  'Roopa',
  'Arun'],
 'Phonenumber': [9846878321,
  8945673254,
  9847563243,
  9863564732,
  9846786541,
  9846897890,
  9863425634,
  9847675678,
  9845326745,
  9867546321],
 'Place': ['Kerala',
  'Goa',
  'Karnataka',
  'Telangana',
  'Delhi',
  'Gujarat',
  'UP',
  'Maharashtra',
  'Tamilnadu',
  'Punjab'],
 '_id': ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']}

In [7]:
#Converting Dictionary of list to List of Dictionaries

Phone_dir = [dict(zip(Phone_directory,t)) for t in zip(*Phone_directory.values())]
print(Phone_dir)

# import pandas as pd
# Phone_dir=pd.DataFrame(Phone_directory).to_dict(orient="records")
# Phone_dir

[{'_id': '1', 'Name': 'Akhilesh', 'Phonenumber': 9846878321, 'Place': 'Kerala'}, {'_id': '2', 'Name': 'Roshan', 'Phonenumber': 8945673254, 'Place': 'Goa'}, {'_id': '3', 'Name': 'Surya', 'Phonenumber': 9847563243, 'Place': 'Karnataka'}, {'_id': '4', 'Name': 'Rekha', 'Phonenumber': 9863564732, 'Place': 'Telangana'}, {'_id': '5', 'Name': 'Anjali', 'Phonenumber': 9846786541, 'Place': 'Delhi'}, {'_id': '6', 'Name': 'Koushik', 'Phonenumber': 9846897890, 'Place': 'Gujarat'}, {'_id': '7', 'Name': 'Sukumar', 'Phonenumber': 9863425634, 'Place': 'UP'}, {'_id': '8', 'Name': 'Vijayan', 'Phonenumber': 9847675678, 'Place': 'Maharashtra'}, {'_id': '9', 'Name': 'Roopa', 'Phonenumber': 9845326745, 'Place': 'Tamilnadu'}, {'_id': '10', 'Name': 'Arun', 'Phonenumber': 9867546321, 'Place': 'Punjab'}]

In [ ]:
#Inserting the Phone directory to the collection
records.insert_many(Phone_dir)

In [8]:
records.count_documents({})

10

#FIND

In [9]:
#Find the records using query
x = records.find_one()
x

{'Name': 'Akhilesh', 'Phonenumber': 9846878321, 'Place': 'Kerala', '_id': '1'}

In [13]:
x = records.find_one('3')
y= records.find_one('5')
print(x)
print(y)

{'_id': '3', 'Name': 'Surya', 'Phonenumber': 9847563243, 'Place': 'Karnataka'}
{'_id': '5', 'Name': 'Anjali', 'Phonenumber': 9846786541, 'Place': 'Delhi'}

In [14]:
#Finding all the values
for y in records.find():
  print(y)

{'_id': '1', 'Name': 'Akhilesh', 'Phonenumber': 9846878321, 'Place': 'Kerala'}
{'_id': '2', 'Name': 'Roshan', 'Phonenumber': 8945673254, 'Place': 'Goa'}
{'_id': '3', 'Name': 'Surya', 'Phonenumber': 9847563243, 'Place': 'Karnataka'}
{'_id': '4', 'Name': 'Rekha', 'Phonenumber': 9863564732, 'Place': 'Telangana'}
{'_id': '5', 'Name': 'Anjali', 'Phonenumber': 9846786541, 'Place': 'Delhi'}
{'_id': '6', 'Name': 'Koushik', 'Phonenumber': 9846897890, 'Place': 'Gujarat'}
{'_id': '7', 'Name': 'Sukumar', 'Phonenumber': 9863425634, 'Place': 'UP'}
{'_id': '8', 'Name': 'Vijayan', 'Phonenumber': 9847675678, 'Place': 'Maharashtra'}
{'_id': '9', 'Name': 'Roopa', 'Phonenumber': 9845326745, 'Place': 'Tamilnadu'}
{'_id': '10', 'Name': 'Arun', 'Phonenumber': 9867546321, 'Place': 'Punjab'}

In [20]:
for x in records.find({},{"_id":0, "Name" :1, "Place":1}):
  print(x)

{'Name': 'Akhilesh', 'Place': 'Kerala'}
{'Name': 'Roshan', 'Place': 'Goa'}
{'Name': 'Surya', 'Place': 'Karnataka'}
{'Name': 'Rekha', 'Place': 'Telangana'}
{'Name': 'Anjali', 'Place': 'Delhi'}
{'Name': 'Koushik', 'Place': 'Gujarat'}
{'Name': 'Sukumar', 'Place': 'UP'}
{'Name': 'Vijayan', 'Place': 'Maharashtra'}
{'Name': 'Roopa', 'Place': 'Tamilnadu'}
{'Name': 'Arun', 'Place': 'Punjab'}

In [21]:
for x in records.find({},{"_id":0,"Name":1}):
  print(x)

{'Name': 'Akhilesh'}
{'Name': 'Roshan'}
{'Name': 'Surya'}
{'Name': 'Rekha'}
{'Name': 'Anjali'}
{'Name': 'Koushik'}
{'Name': 'Sukumar'}
{'Name': 'Vijayan'}
{'Name': 'Roopa'}
{'Name': 'Arun'}

In [61]:
#Added some more document to the collection so we have a total of 14 documents now.
records.count_documents({})

14

In [65]:
query={"Place":"Kerala"}
for x in records.find(query):
 print(x)

{'_id': '1', 'Name': 'Akhilesh', 'Phonenumber': 9846878321, 'Place': 'Kerala'}
{'_id': 11, 'Name': 'Aradhya', 'Phone': 9856745363, 'Place': 'Kerala'}
{'_id': 12, 'Name': 'Askhay', 'Phone': 9768574532, 'Place': 'Kerala'}
{'_id': 13, 'Name': 'Suraj', 'Phone': 9856734213, 'Place': 'Kerala'}
{'_id': 14, 'Name': 'Anoop', 'Phone': 9768574556, 'Place': 'Kerala'}

In [67]:
query={"Place":"Kerala"}
for x in records.find(query,{"_id":1,"Name":1}):
 print(x)

{'_id': '1', 'Name': 'Akhilesh'}
{'_id': 11, 'Name': 'Aradhya'}
{'_id': 12, 'Name': 'Askhay'}
{'_id': 13, 'Name': 'Suraj'}
{'_id': 14, 'Name': 'Anoop'}

#UPDATE

In [73]:

myquery = {"Name":"Akhilesh"}
newvalues = {"$set":{"Name":"Bipin"}}
records.update_one(myquery,newvalues)

for x in records.find():
  print(x)

{'_id': '1', 'Name': 'Bipin', 'Phonenumber': 9846878321, 'Place': 'Kerala'}
{'_id': '2', 'Name': 'Roshan', 'Phonenumber': 8945673254, 'Place': 'Goa'}
{'_id': '3', 'Name': 'Surya', 'Phonenumber': 9847563243, 'Place': 'Karnataka'}
{'_id': '4', 'Name': 'Rekha', 'Phonenumber': 9863564732, 'Place': 'Telangana'}
{'_id': '5', 'Name': 'Anjali', 'Phonenumber': 9846786541, 'Place': 'Delhi'}
{'_id': '6', 'Name': 'Koushik', 'Phonenumber': 9846897890, 'Place': 'Gujarat'}
{'_id': '7', 'Name': 'Sukumar', 'Phonenumber': 9863425634, 'Place': 'UP'}
{'_id': '8', 'Name': 'Vijayan', 'Phonenumber': 9847675678, 'Place': 'Maharashtra'}
{'_id': '9', 'Name': 'Roopa', 'Phonenumber': 9845326745, 'Place': 'Tamilnadu'}
{'_id': '10', 'Name': 'Arun', 'Phonenumber': 9867546321, 'Place': 'Punjab'}
{'_id': 11, 'Name': 'Aradhya', 'Phone': 9856745363, 'Place': 'Kerala'}
{'_id': 12, 'Name': 'Askhay', 'Phone': 9768574532, 'Place': 'Kerala'}
{'_id': 13, 'Name': 'Suraj', 'Phone': 9856734213, 'Place': 'Kerala'}
{'_id': 14, 'Name': 'Anoop', 'Phone': 9768574556, 'Place': 'Kerala'}
{'_id': 15, 'Name': 'Bipin', 'Phone': 9768574553, 'Place': 'Kerala'}

In [76]:
for x in records.find({"Place":"Kerala"},{"Name":1,"Place":1}):
  print(x)

{'_id': '1', 'Name': 'Bipin', 'Place': 'Kerala'}
{'_id': 11, 'Name': 'Aradhya', 'Place': 'Kerala'}
{'_id': 12, 'Name': 'Askhay', 'Place': 'Kerala'}
{'_id': 13, 'Name': 'Suraj', 'Place': 'Kerala'}
{'_id': 14, 'Name': 'Anoop', 'Place': 'Kerala'}
{'_id': 15, 'Name': 'Bipin', 'Place': 'Kerala'}

In [78]:
query={"Place":"Kerala"}
newvalues={"$set":{"Place":"Arunachal"}}
records.update_many(query,newvalues)

for x in records.find():
  print(x)

{'_id': '1', 'Name': 'Bipin', 'Phonenumber': 9846878321, 'Place': 'Arunachal'}
{'_id': '2', 'Name': 'Roshan', 'Phonenumber': 8945673254, 'Place': 'Goa'}
{'_id': '3', 'Name': 'Surya', 'Phonenumber': 9847563243, 'Place': 'Karnataka'}
{'_id': '4', 'Name': 'Rekha', 'Phonenumber': 9863564732, 'Place': 'Telangana'}
{'_id': '5', 'Name': 'Anjali', 'Phonenumber': 9846786541, 'Place': 'Delhi'}
{'_id': '6', 'Name': 'Koushik', 'Phonenumber': 9846897890, 'Place': 'Gujarat'}
{'_id': '7', 'Name': 'Sukumar', 'Phonenumber': 9863425634, 'Place': 'UP'}
{'_id': '8', 'Name': 'Vijayan', 'Phonenumber': 9847675678, 'Place': 'Maharashtra'}
{'_id': '9', 'Name': 'Roopa', 'Phonenumber': 9845326745, 'Place': 'Tamilnadu'}
{'_id': '10', 'Name': 'Arun', 'Phonenumber': 9867546321, 'Place': 'Punjab'}
{'_id': 11, 'Name': 'Aradhya', 'Phone': 9856745363, 'Place': 'Arunachal'}
{'_id': 12, 'Name': 'Askhay', 'Phone': 9768574532, 'Place': 'Arunachal'}
{'_id': 13, 'Name': 'Suraj', 'Phone': 9856734213, 'Place': 'Arunachal'}
{'_id': 14, 'Name': 'Anoop', 'Phone': 9768574556, 'Place': 'Arunachal'}
{'_id': 15, 'Name': 'Bipin', 'Phone': 9768574553, 'Place': 'Arunachal'}

#DELETE

In [83]:
query={"Name":"Bipin"}
records.delete_one(query)
for x in records.find():
  print(x)

{'_id': '2', 'Name': 'Roshan', 'Phonenumber': 8945673254, 'Place': 'Goa'}
{'_id': '3', 'Name': 'Surya', 'Phonenumber': 9847563243, 'Place': 'Karnataka'}
{'_id': '4', 'Name': 'Rekha', 'Phonenumber': 9863564732, 'Place': 'Telangana'}
{'_id': '5', 'Name': 'Anjali', 'Phonenumber': 9846786541, 'Place': 'Delhi'}
{'_id': '6', 'Name': 'Koushik', 'Phonenumber': 9846897890, 'Place': 'Gujarat'}
{'_id': '7', 'Name': 'Sukumar', 'Phonenumber': 9863425634, 'Place': 'UP'}
{'_id': '8', 'Name': 'Vijayan', 'Phonenumber': 9847675678, 'Place': 'Maharashtra'}
{'_id': '9', 'Name': 'Roopa', 'Phonenumber': 9845326745, 'Place': 'Tamilnadu'}
{'_id': '10', 'Name': 'Arun', 'Phonenumber': 9867546321, 'Place': 'Punjab'}
{'_id': 11, 'Name': 'Aradhya', 'Phone': 9856745363, 'Place': 'Arunachal'}
{'_id': 12, 'Name': 'Askhay', 'Phone': 9768574532, 'Place': 'Arunachal'}
{'_id': 13, 'Name': 'Suraj', 'Phone': 9856734213, 'Place': 'Arunachal'}
{'_id': 14, 'Name': 'Anoop', 'Phone': 9768574556, 'Place': 'Arunachal'}